
.common-header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    text-align:center;
    height: 100px;
    /* margin-bottom: 150px; */
    background-color: white;
    transform: translateY(-100px);
    animation-fill-mode: forwards;
  }
  
  .common-header-label {
    float: right;
    margin: 40px 20px 40px 20px;
    font-family: OpenSans;
    font-size: 18px;
    color: #3b4f64;
    vertical-align: middle;
  
  }
  
  .common-help-button {
    width: 222px;
    height: 50px;
    margin: 25px 20px 25px 20px;
    border-radius: 3px;
    background-color: #eb3343;
    float: right;
    color: white;
    font-size: 18px;
    vertical-align: middle;
    margin: 30px;
  }

  .hide-header {
    animation-name: hideHeader;
    animation-duration: 1000ms;
    animation-timing-function: linear;
  }

  .show-header {
    animation-name: showHeader;
    animation-duration: 1000ms;
    animation-timing-function: linear; 
  }

  @keyframes hideHeader {
    from {transform: translateY(0px);}
    to {transform: translateY(-100px);}
  }

  @keyframes showHeader {
    from {transform: translateY(-100px);}
    to {transform: translateY(0px);}
  }