
.section-3-main-container {
  position: absolute;
  left: 5%;
	top: 200px;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

.section-3-lottie-row {
  position: relative;
	height: 290px;
	width: 90%;
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-3-row-item {
	height: 290px;
  width: 300px;
	opacity: 0.0;
	animation-fill-mode: forwards;
}

.section-3-lottie {
	height: 100px;
	width: 100px;
}

.big-text-3 {
	max-width: 550px;
	margin-bottom: 10px;
}

.small-text-3 {
	max-width: 550px;
}

.item-title-text-3 {
	width: 290px;
	height: 50px;
  font-family: 'Noto Serif', serif;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.78;
	letter-spacing: 1.5px;
	color: #231f20;
}

.item-description-text-3 {
	width: 250px;
	height: 104px;
  font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 0.9px;
	color: #3b4f64;
}
