
.section-5-main-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.section-5-lottie-container {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
}

#lottie-section-5 {
	align-self: center;
	height: 500px;
	width: 500px;
	animation-fill-mode: forwards;
}

#section-5-outer-text-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  animation-fill-mode: forwards;
}

.section-5-inner-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.big-text-5 {
	max-width: 550px;
}

.small-text-5 {
	max-width: 550px;
}
